body {
    margin: 0;
    font-family: unispace , Arial, Helvetica, sans-serif;
    background:#ffffff;
    color: #000000;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container {
    background: #ffffff;
    border-radius: 1.2rem;
    box-shadow: 0 4px 32px 0 rgba(46, 46, 46, 0.1);
    padding: 2.5rem 2rem 2rem 2rem;
    min-width: 420px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}
.login-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 1.2rem;
}
.login-label {
    font-size: 1.1rem;
    color: #000000;
    margin-bottom: 0.5rem;
    display: block;
    text-align: center;
}
.login-input {
    font-family: unispace , Arial, Helvetica, sans-serif;
    width: 92%;
    padding: 0.7rem;
    border: 1.5px solid #000000;
    border-radius: 6px;
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
    background: #fff;
    color: #000000;
    transition: border 0.2s;
}
.login-input:focus {
    border-color: #000000;
    outline: none;
}
.login-btn {
    width: 100%;
    padding: 0.8rem;
    background: #000000;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
}
.login-btn:hover {
    background: #ffffff;
}
.login-error {
    color: #000000;
    font-size: 1rem;
    margin-bottom: 1rem;
    display: none;
}
